<p><%= $game.first_player.name %> vs. <%= $game.second_player.name %>!!!</p>

<p><%= $game.second_player.name %> Hit Points: <%= $game.second_player.hit_points %> HPs</p>

<form action='/attack' method='get'>
  <input type='submit' value='Attack' >
</form>

